.autocomplete-suggestion {
    border: solid #555;
    border-width: 1px 1px 0 1px;
    padding: .4em;
    background: #2f2f2f;
    color: #D2B306;
    font-size: 1.1em;
    cursor:pointer;
}

.autocomplete-suggestion:last-child {
    border-bottom-width: 1px;
    border-radius: 0 0 4px 4px;
}

.autocomplete-suggestion strong {
    color: #FFd800;
}

#autocomplete
{
    margin:0 10px 0 10px;
}

#add-primary-product {
    padding: 6px;
}

#add-primary-product:disabled {
    padding: 6px;
    pointer-events: none;
    color: #f1f1e788;
    border-color: #f1f1e788;
}